   /* 전체 */
   #mainpage{
    position: absolute;
  }
  body {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color: inherit; /* 링크의 기본 색상을 상속받음 */
  }
  /* ---------------------------헤더 네비------------------- */
  header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: ce;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  #header-right {
    display: flex;
  }

  header a {
    margin-left: 20px;
  }
  
  /* ---------------------------banner------ul---------------- */
  #banner {
    width: 100vw;
    background-color: rgb(184, 184, 184);
    height: 500px;
    display: flex;
    justify-content: center;
  }

  div ul {
    width: 1300px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 70px;
  }
  li {
    display: flex;
    width: 150px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.68);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    color: white;
    transition: background-color 0.25s ease-in, color 0.25s ease-in;
  }
  li:hover {
    transition: background-color 0.15s, color 0.15s;
    background-color: rgb(250, 250, 250);
    color: black;
  }

