#recommend_program{
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);

}
#recommend_program_content{
margin-left: 25vw;
margin-top: 100px;
display: flex;
flex-direction: column;
align-items: center;
background-color: white;
 width: 800px;
 height: 800px;
 border-radius: 20px;
 overflow: hidden;
}

.program_wrapper{
  margin-top: 40px;

}
.program_container {
  width: 600px;
  height: 150px;
  display:flex;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
  overflow: hidden; 
}

.program_container .text {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.img{
  padding: 0 auto;
  margin: 0;
  border-right: 1px solid rgb(128, 128, 128, 0.6);
}
.img img {
  width: 200px; 
  height: 150px
}
.title{
  border-bottom: 1px solid rgb(138, 138, 138,0.4);
}
.content{
  padding-top: 10px;
}

