* {
    font-size: 14px;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0 auto;
}

/* -------------------------top_banner----------------------- */
a {
    color: white;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

#top_banner {
    width: 100vw;
    height: 600px;
    display: flex;
    flex-direction: column;
}

#top_banner_text {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 280px;
    z-index: 5;
    color: white;
  }
  #top_banner_text p {
    font-weight: 900;
    font-size: 1.4rem;
  }

/* --------------------nav---------------------------- */
#nav_contain {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 80px;
    color: white;
    width: 95%;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
  }
  #video_container {

    width: 100%;
    height: 100%;
    z-index: -10;
  }
  #fullscreen-video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4) contrast(1);
  }
#nav_item {
    display: flex;
    width: 700px;
    justify-content: space-between;
    align-items: center;
    margin-right: 100px;
}

nav h1 {
    margin-left: 30px;
}

/* 먹어야 될 칼로리 글자  */
section {
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

/* -----------------매크로 띄우는 곳---------------------------- */
main {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-bottom: 100px;
}

main .graph_contain {
    background-color: rgb(184, 184, 184);
    width: 200px;
    height: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 50px;
}

.graph_contain p:nth-of-type(1) {
    flex: 1;
}

.macro {
    flex: 1;
}

.graph_contain div:last-child {
    flex: 1;
}

/* 애니메이션 */
.progressbar {
    width: 80%;
    height: 15px;
    border-radius: 10px;
    overflow: hidden;
    background: #ccc;
    position: relative;
}

.progressbar_ani {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 0;
    background: rgb(9, 218, 44);
}

@keyframes progress {
    0% {
        width: 0px;
    }

    100% {
        width: 80%;
    }
}

/* 네비게이션 */
/* 헤더 */
header {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
  }
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
  }

  #header-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    margin-left: 110px;
  }

  header #logout {
    margin-left: 20px;
  }

  #logout {
    background-color: #0d0c22;
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  #logout:hover {
    opacity: 0.7;
  }

  #logout span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }